<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML10.0_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
# Import Libraries

import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sb

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Data Import
path = '/content/drive/My Drive/ML_Code/10_Logistic Regreetion/Module 10 Assisgnment - Dataset+Solution/Train_pjb2QcD.csv'  
data = pd.read_csv(path)                                           # Read the data
data.shape

(8844, 19)

In [ ]:
data.head()

           ID  Office_PIN  ...  Manager_Num_Products2 Business_Sourced
0  FIN1000001      842001  ...                   28.0                0
1  FIN1000002      842001  ...                   28.0                1
2  FIN1000003      800001  ...                   24.0                0
3  FIN1000004      814112  ...                   22.0                0
4  FIN1000005      814112  ...                   17.0                0

[5 rows x 19 columns]

In [ ]:


#x= data.iloc[:, 0:19].values
scores = x
y= data.iloc[:, 18].values
#y

In [ ]:
# Logistic Sigmoid Function 
def logistic_function(x):
  return 1/(1+np.exp(-x))

logistic_function(0)

0.5

In [ ]:
# Cost Function and Sigmoid

def compute_cost(theta, x, y):
  m = len(y)
  y_pred = logistic_function(np.dot(x,theta))
  error = (y * np.log(y_pred)) + (1-y) * np.log(1-Y_pred)
  cost = - 1 / m * np.dot(x.transpose(), (y_pred - y))
  return cost[0],gradient

In [ ]:
# Cost and gradient at initialization

mean_scores = np.mean(scores, axis=0)
std_scores = np.std(scores, axis=0)
scores = (scores - mean_scores) / std_scores

rows = scpres.shape[0]
cols = scpres.shape[0]

x = np.append(np.ones((rows, 1)), scores, axis=1)
y = y.reshape(rows, 1)

theta_init = np.zeros((cols +1, 1))
cost, gradient = compute_cost(theta_init, x, y)

print('Cost',cost)
print('gradient',gradient)

TypeError: ignored