<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML10.2_Assignment_2_Solution_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading the Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/drive/My Drive/ML_Code/10_Logistic Regreetion/Module 10 Assisgnment - Dataset+Solution/Train_pjb2QcD.csv')
df.shape

(8844, 19)

In [ ]:
df.head()

           ID  Office_PIN  ...  Manager_Num_Products2 Business_Sourced
0  FIN1000001      842001  ...                   28.0                0
1  FIN1000002      842001  ...                   28.0                1
2  FIN1000003      800001  ...                   24.0                0
3  FIN1000004      814112  ...                   22.0                0
4  FIN1000005      814112  ...                   17.0                0

[5 rows x 19 columns]

In [ ]:
df.columns

Index(['ID', 'Office_PIN', 'Applicant_City_PIN', 'Applicant_Gender',
       'Applicant_Marital_Status', 'Applicant_Occupation',
       'Applicant_Qualification', 'Manager_Joining_Designation',
       'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status',
       'Manager_Gender', 'Manager_Num_Application', 'Manager_Num_Coded',
       'Manager_Business', 'Manager_Num_Products', 'Manager_Business2',
       'Manager_Num_Products2', 'Business_Sourced'],
      dtype='object')

## Imputing Missing Values

In [ ]:
df.isnull().sum()

ID                                0
Office_PIN                        0
Applicant_City_PIN                0
Applicant_Gender                 53
Applicant_Marital_Status         59
Applicant_Occupation           1090
Applicant_Qualification          71
Manager_Joining_Designation       0
Manager_Current_Designation       0
Manager_Grade                     0
Manager_Status                    0
Manager_Gender                    0
Manager_Num_Application           0
Manager_Num_Coded                 0
Manager_Business                  0
Manager_Num_Products              0
Manager_Business2                 0
Manager_Num_Products2             0
Business_Sourced                  0
dtype: int64

In [ ]:
df[['Applicant_Gender','Applicant_Marital_Status', 'Applicant_Occupation', 'Applicant_Qualification']].head()

  Applicant_Gender  ... Applicant_Qualification
0                M  ...                Graduate
1                M  ...               Class XII
2                M  ...               Class XII
3                M  ...               Class XII
4                M  ...               Class XII

[5 rows x 4 columns]

**1. Missing Values in Applicant Gender**

In [ ]:
#checking value_Counts
df['Applicant_Gender'].value_counts()

M    6656
F    2135
Name: Applicant_Gender, dtype: int64

In [ ]:
#imputing missing with mode
df['Applicant_Gender'].fillna('M', inplace=True)

**2. Missing Values in Applicant Marital Status**

In [ ]:
#checking value_Counts
df['Applicant_Marital_Status'].value_counts()

M    5733
S    3042
W       6
D       4
Name: Applicant_Marital_Status, dtype: int64

In [ ]:
#imputing missing with mode

df['Applicant_Marital_Status'].fillna('M', inplace=True)

**3. Missing Values in Applicant Occupation**

In [ ]:
#checking value_Counts
df['Applicant_Occupation'].value_counts()

Salaried         3546
Business         2157
Others           1809
Self Employed     146
Student            96
Name: Applicant_Occupation, dtype: int64

In [ ]:
#imputing missing with mode

df['Applicant_Occupation'].fillna('Salaried', inplace=True)

**4. Missing Values in Applicant Qualification**

In [ ]:
#checking value_Counts
df['Applicant_Qualification'].value_counts()

Class XII                                                           5426
Graduate                                                            2958
Class X                                                              195
Others                                                               116
Masters of Business Administration                                    71
Associate / Fellow of Institute of Chartered Accountans of India       3
Associate/Fellow of Acturial Society of India                          1
Associate/Fellow of Institute of Company Secretories of India          1
Associate/Fellow of Insurance Institute of India                       1
Professional Qualification in Marketing                                1
Name: Applicant_Qualification, dtype: int64

In [ ]:
#imputing missing with mode

df['Applicant_Qualification'].fillna('Class XII', inplace=True)

In [ ]:
df.isnull().sum()

ID                             0
Office_PIN                     0
Applicant_City_PIN             0
Applicant_Gender               0
Applicant_Marital_Status       0
Applicant_Occupation           0
Applicant_Qualification        0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_Status                 0
Manager_Gender                 0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
dtype: int64

## Dealing with Categorical Variables

In [ ]:
df.dtypes

ID                              object
Office_PIN                       int64
Applicant_City_PIN               int64
Applicant_Gender                object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [ ]:
df.columns

Index(['ID', 'Office_PIN', 'Applicant_City_PIN', 'Applicant_Gender',
       'Applicant_Marital_Status', 'Applicant_Occupation',
       'Applicant_Qualification', 'Manager_Joining_Designation',
       'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status',
       'Manager_Gender', 'Manager_Num_Application', 'Manager_Num_Coded',
       'Manager_Business', 'Manager_Num_Products', 'Manager_Business2',
       'Manager_Num_Products2', 'Business_Sourced'],
      dtype='object')

In [ ]:
categorical_cols = ['Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation','Applicant_Qualification',
                   'Manager_Joining_Designation', 'Manager_Current_Designation', 'Manager_Status', 'Manager_Gender']

for i in categorical_cols:
    print('*****', i, '*****')
    print(df[i].value_counts())
    print('')

***** Applicant_Gender *****
M    6709
F    2135
Name: Applicant_Gender, dtype: int64

***** Applicant_Marital_Status *****
M    5792
S    3042
W       6
D       4
Name: Applicant_Marital_Status, dtype: int64

***** Applicant_Occupation *****
Salaried         4636
Business         2157
Others           1809
Self Employed     146
Student            96
Name: Applicant_Occupation, dtype: int64

***** Applicant_Qualification *****
Class XII                                                           5497
Graduate                                                            2958
Class X                                                              195
Others                                                               116
Masters of Business Administration                                    71
Associate / Fellow of Institute of Chartered Accountans of India       3
Associate/Fellow of Acturial Society of India                          1
Associate/Fellow of Institute of Company Secretories of India          1
Associate/Fellow of Insurance Institute of India                       1
Professional Qualification in Marketing                                1
Name: Applicant_Qualification, dtype: int64

***** Manager_Joining_Designation *****
Level 1    4632
Level 2    2787
Level 3    1146
Level 4     200
Other        58
Level 6      18
Level 7       2
Level 5       1
Name: Manager_Joining_Designation, dtype: int64

***** Manager_Current_Designation *****
Level 2    3208
Level 1    2479
Level 3    2033
Level 4    1031
Level 5      93
Name: Manager_Current_Designation, dtype: int64

***** Manager_Status *****
Confirmation    5277
Probation       3567
Name: Manager_Status, dtype: int64

***** Manager_Gender *****
M    7627
F    1217
Name: Manager_Gender, dtype: int64

In [ ]:
df = pd.get_dummies(df)
df

      Office_PIN  Applicant_City_PIN  ...  Manager_Gender_F  Manager_Gender_M
0         842001              844120  ...                 0                 1
1         842001              844111  ...                 0                 1
2         800001              844101  ...                 0                 1
3         814112              814112  ...                 1                 0
4         814112              815351  ...                 0                 1
...          ...                 ...  ...               ...               ...
8839      250001              250004  ...                 0                 1
8840      814112              816118  ...                 0                 1
8841      160017              160032  ...                 0                 1
8842      753012              753014  ...                 0                 1
8843      575003              571248  ...                 0                 1

[8844 rows x 8892 columns]

## Logistic regression

### Train Test split

In [ ]:
x = df.drop(['Business_Sourced'],axis=1)
y = df['Business_Sourced']
x.shape, y.shape

((8844, 8891), (8844,))

In [ ]:
from sklearn.model_selection import train_test_split
train_x, valid_x, train_y, valid_y= train_test_split(x, y, test_size = 0.3, random_state=1)

### Linear regression Model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, auc
from sklearn.metrics import roc_auc_score

In [ ]:
logreg = LogisticRegression()
logreg.fit(train_x, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred_train = logreg.predict_proba(train_x)
pred_valid = logreg.predict_proba(valid_x)

In [ ]:
roc_auc_score(train_y, pred_train[:,1])

0.4723339792143738

In [ ]:
roc_auc_score(valid_y, pred_valid[:,1])

0.4697625904030554