<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML12.2_Feature_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Loading the dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bigmart = pd.read_csv('/content/drive/My Drive/ML_Code/12_Feature Engineering/5.  Feature Scaling/train_bm.csv')

In [ ]:
data = bigmart[['Item_Visibility', 'Item_MRP']]
data.head()

   Item_Visibility  Item_MRP
0         0.016047  249.8092
1         0.019278   48.2692
2         0.016760  141.6180
3         0.000000  182.0950
4         0.000000   53.8614

## Min Max Scaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler  #(convert into 0 to 1)

In [ ]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0         0.048866  0.927507
1         0.058705  0.072068
2         0.051037  0.468288
3         0.000000  0.640093
4         0.000000  0.095805

In [ ]:
scaled_data.describe()

       Item_Visibility     Item_MRP
count      8523.000000  8523.000000
mean          0.201382     0.465635
std           0.157123     0.264327
min           0.000000     0.000000
25%           0.082187     0.265437
50%           0.164228     0.474209
75%           0.288026     0.655156
max           1.000000     1.000000

## Standard Scaler

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0        -0.970732  1.747454
1        -0.908111 -1.489023
2        -0.956917  0.010040
3        -1.281758  0.660050
4        -1.281758 -1.399220

In [ ]:
scaled_data.describe()

       Item_Visibility      Item_MRP
count     8.523000e+03  8.523000e+03
mean      1.822365e-16 -1.637654e-16
std       1.000059e+00  1.000059e+00
min      -1.281758e+00 -1.761688e+00
25%      -7.586531e-01 -7.574307e-01
50%      -2.364792e-01  3.243893e-02
75%       5.514755e-01  7.170372e-01
max       5.083050e+00  2.021724e+00