<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML12.5__Binning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Loading the Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
import pandas as pd

In [ ]:
stroke_data = pd.read_csv('/content/drive/My Drive/ML_Code/12_Feature Engineering/9.  Feature Generation_ Binning/stroke prediction.csv')
stroke_data.head()

      id  gender   age  ...   bmi   smoking_status stroke
0  30669    Male   3.0  ...  18.0              NaN      0
1  30468    Male  58.0  ...  39.2     never smoked      0
2  16523  Female   8.0  ...  17.6              NaN      0
3  56543  Female  70.0  ...  35.9  formerly smoked      0
4  46136    Male  14.0  ...  19.1              NaN      0

[5 rows x 12 columns]

### Creating Bins

In [ ]:
bins=[0,12,19,30,60,90]
group=['child','teenager','young_adult','middle_aged', 'senior_citizen']
stroke_data['age_category']=pd.cut(stroke_data['age'], bins, labels=group)

In [ ]:
stroke_data[['age', 'age_category']].head()

    age    age_category
0   3.0           child
1  58.0     middle_aged
2   8.0           child
3  70.0  senior_citizen
4  14.0        teenager

## Binning Using Decision Tree Split

<img src = "index.png" width=600px>

In [ ]:
bins=[0,49.5,66.5,77.5,90]
group=['Bin_1','Bin_2','Bin_3','Bin_4']
stroke_data['age_category']=pd.cut(stroke_data['age'], bins, labels=group)

In [ ]:
stroke_data[['age', 'age_category']].head()

    age age_category
0   3.0        Bin_1
1  58.0        Bin_2
2   8.0        Bin_1
3  70.0        Bin_3
4  14.0        Bin_1