<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML12.6__Feature_Interaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Load Loan Prediction Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
import pandas as pd

In [ ]:
loan_data = pd.read_csv('/content/drive/My Drive/ML_Code/12_Feature Engineering/10.  Feature Interaction/train_loan.csv')
loan_data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

### Feature 1 -Total Income

In [ ]:
loan_data['Total_income'] = loan_data['ApplicantIncome'] + loan_data['CoapplicantIncome'] 
loan_data[['ApplicantIncome', 'CoapplicantIncome', 'Total_income']].head()

   ApplicantIncome  CoapplicantIncome  Total_income
0             5849                0.0        5849.0
1             4583             1508.0        6091.0
2             3000                0.0        3000.0
3             2583             2358.0        4941.0
4             6000                0.0        6000.0

### Feature 2 - Loan amount and Income  Ratio

In [ ]:
loan_data['loan_income_ratio'] = loan_data['LoanAmount'] / loan_data['ApplicantIncome']
loan_data[['ApplicantIncome', 'LoanAmount', 'loan_income_ratio']].head()

   ApplicantIncome  LoanAmount  loan_income_ratio
0             5849         NaN                NaN
1             4583       128.0           0.027929
2             3000        66.0           0.022000
3             2583       120.0           0.046458
4             6000       141.0           0.023500