<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML12.7_Using_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load the stroke prediction Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [ ]:
stroke_data = pd.read_csv('/content/drive/My Drive/ML_Code/12_Feature Engineering/11.  Generating Features_ Missing Values/stroke prediction.csv')
stroke_data.head()

      id  gender   age  ...   bmi   smoking_status stroke
0  30669    Male   3.0  ...  18.0              NaN      0
1  30468    Male  58.0  ...  39.2     never smoked      0
2  16523  Female   8.0  ...  17.6              NaN      0
3  56543  Female  70.0  ...  35.9  formerly smoked      0
4  46136    Male  14.0  ...  19.1              NaN      0

[5 rows x 12 columns]

In [ ]:
stroke_data.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

In [ ]:
stroke_data["smoking_status_NA"]=stroke_data["smoking_status"].isnull()*1

In [ ]:
stroke_data[['smoking_status_NA', 'smoking_status']].head()

   smoking_status_NA   smoking_status
0                  1              NaN
1                  0     never smoked
2                  1              NaN
3                  0  formerly smoked
4                  1              NaN