<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML12.8_Frequency_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load the Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd
bigmart= pd.read_csv('/content/drive/My Drive/ML_Code/12_Feature Engineering/12.  Frequency Encoding/train_bm.csv')
bigmart.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
bigmart['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

## Frrequency Encoding

In [ ]:
temp = bigmart['Item_Type'].value_counts()
temp.head()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Name: Item_Type, dtype: int64

In [ ]:

bigmart['Item_type_count'] = bigmart['Item_Type'].apply(lambda x: temp[x])
bigmart[['Item_Identifier', 'Item_Type', 'Item_type_count']].head()

  Item_Identifier              Item_Type  Item_type_count
0           FDA15                  Dairy              682
1           DRC01            Soft Drinks              445
2           FDN15                   Meat              425
3           FDX07  Fruits and Vegetables             1232
4           NCD19              Household              910

## Mean Encoding (using Target Variable)

In [ ]:
bigmart[['Item_Type', 'Item_Outlet_Sales']].head()

               Item_Type  Item_Outlet_Sales
0                  Dairy          3735.1380
1            Soft Drinks           443.4228
2                   Meat          2097.2700
3  Fruits and Vegetables           732.3800
4              Household           994.7052

In [ ]:
bigmart.groupby('Item_Type')['Item_Outlet_Sales'].mean()

Item_Type
Baking Goods             1952.971207
Breads                   2204.132226
Breakfast                2111.808651
Canned                   2225.194904
Dairy                    2232.542597
Frozen Foods             2132.867744
Fruits and Vegetables    2289.009592
Hard Drinks              2139.221622
Health and Hygiene       2010.000265
Household                2258.784300
Meat                     2158.977911
Others                   1926.139702
Seafood                  2326.065928
Snack Foods              2277.321739
Soft Drinks              2006.511735
Starchy Foods            2374.332773
Name: Item_Outlet_Sales, dtype: float64