<a href="https://colab.research.google.com/github/krishbhowmick/ML_AnalyticsVidhya/blob/main/ML14.1_Random_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Forest

### Importing Libraries

In [ ]:
from google.colab import drive
drive.mount('/content/drive/') 

#Importing required libraries
import pandas as pd 
import numpy as np

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

### Loading the dataset

In [ ]:
#reading the data
data=pd.read_csv('/content/drive/My Drive/ML_Code/14_Random Forest/5. Implementing Random Forest/data_cleaned.csv')

In [ ]:
data.shape

(891, 25)

In [ ]:
#first five rows of the data
data.head()

   Survived   Age     Fare  ...  Embarked_C  Embarked_Q  Embarked_S
0         0  22.0   7.2500  ...           0           0           1
1         1  38.0  71.2833  ...           1           0           0
2         1  26.0   7.9250  ...           0           0           1
3         1  35.0  53.1000  ...           0           0           1
4         0  35.0   8.0500  ...           0           0           1

[5 rows x 25 columns]

### Separating independent and dependent variables.

In [ ]:
#independent variables
x = data.drop(['Survived'], axis=1)

#dependent variable
y = data['Survived']

### Creating the train and test dataset

In [ ]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [ ]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

## Building a Decision Tree Model

In [ ]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#creating a decision tree instance
clf = DecisionTreeClassifier(random_state=96)

In [ ]:
#training the model
clf.fit(train_x,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=96, splitter='best')

In [ ]:
#calculating score on training data
clf.score(train_x, train_y)

0.9880239520958084

In [ ]:
#calculating score on test data
clf.score(test_x, test_y)

0.757847533632287

## Building a Random Forest Model

In [ ]:
#Importing random forest classifier 
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#creating a random forest instance
clf = RandomForestClassifier(random_state=96)

In [ ]:
#train the model
clf.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=96, verbose=0,
                       warm_start=False)

In [ ]:
#score on training data
clf.score(train_x, train_y)

0.9880239520958084

In [ ]:
#score on test data
clf.score(test_x, test_y)

0.7533632286995515

In [ ]:
#looking at the feature importance
clf.feature_importances_

array([0.23041043, 0.23650759, 0.02766848, 0.01696085, 0.0500349 ,
       0.13608447, 0.1681588 , 0.01320989, 0.01617595, 0.00627351,
       0.00425904, 0.00480762, 0.00078874, 0.00262281, 0.01760913,
       0.01218149, 0.01192783, 0.00146993, 0.00190138, 0.00290028,
       0.00060589, 0.01284854, 0.00908377, 0.01550866])

In [ ]:
#feature importance against each variable
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.230410
Fare          0.236508
Pclass_1      0.027668
Pclass_2      0.016961
Pclass_3      0.050035
Sex_female    0.136084
Sex_male      0.168159
SibSp_0       0.013210
SibSp_1       0.016176
SibSp_2       0.006274
SibSp_3       0.004259
SibSp_4       0.004808
SibSp_5       0.000789
SibSp_8       0.002623
Parch_0       0.017609
Parch_1       0.012181
Parch_2       0.011928
Parch_3       0.001470
Parch_4       0.001901
Parch_5       0.002900
Parch_6       0.000606
Embarked_C    0.012849
Embarked_Q    0.009084
Embarked_S    0.015509
dtype: float64